* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  html, body {
    min-height: 100%;
  }
  
  body {
    background: linear-gradient(#cddc39, #009688);
  }
  
  li {
    list-style: none;
  }
  
  
  /* style member component */
  .list-members {
    background: #ffe501;
    width: 80%;
    margin: 4% auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .member {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .member-image {
    width: 50%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }
  
  .member-image img {
    width: 100%;
    height: 100%;
    transition: 1s;
  }
  
  .member-image:hover img {
    transform: scale(1.1);
  }
  
  .member-info {
    width: 50%;
    height:50%;
    text-align: center;
  }
  
  .member-info p {
    margin: 20px 0;
  }
  .log{
    width:20px;
    height:20px;
  }
  
  /* style social link */
  .social-link .fab {
    width: 0px;
    height: 0px;
    line-height: 0px;
    border: 1px solid #000;
    margin: 0 5px;
    cursor: pointer;
    transition: transform .5s;
  }
  H1{
    margin-top:30px;
  }
  p{
    display: flex;
    align-items: center;
    justify-self:center;
  }
  .social-link .fab:hover {
    background: #000;
    color: #ffe501;
    transform: translateY(-7px);
  }
  
  /* Membuat segitiga */
  .member-image::after {
    content: '';
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #ffe501;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  
  /* Merubah posisi member-image dengan member-info */
  @media screen and (min-width: 771px) {
    .member:nth-child(4n+3) .member-info,
    .member:nth-child(4n+4) .member-info {
      order: 1;
    }
    .member:nth-child(4n+3) .member-image,
    .member:nth-child(4n+4) .member-image {
      order: 2;
    }
  
    /* Merubah posisi sigitiga pada baris genap */
    .member:nth-child(4n+3) .member-image::after,
    .member:nth-child(4n+4) .member-image::after {
      left: 0;
      right: auto;
      transform: translateY(-50%) rotateZ(180deg);
    }
  }
  
  
  /* Mobile Styles */
  @media screen and (max-width: 770px) {
    .list-members {
      width: 95%;
    }
    .member {
      flex-basis: 100%;
      font-size: 14px;
    }
    .social-link .fab {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  
    .member:nth-child(even) .member-info {
      order: 1;
    }
    .member:nth-child(even) .member-image {
      order: 2;
    }
    
    /* Merubah posisi sigitiga elemen genap */
    .member:nth-child(even) .member-image::after {
      left: 0;
      right: auto;
      transform: translateY(-50%) rotateZ(180deg);
    }
  }